.App {
    text-align: center;
    height: 100vh; /* Use the full height of the viewport */
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */

  }
  
  .mainStack {
    margin-top: 20vh; 
    width: 100%; 
    max-width: inherit; 
  }
  